{% extends "base.html" %}

{% block title %}Sales Data{% endblock %}

{% block pagetitle %}Sales Data{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<li class="breadcrumb-item active">Sales Data</li>
{% endblock %}

{% load static %}

{% block content %}
<section class="content">
	<div class="container-fluid">
		{% if messages %}
			{% for message in messages %}
				{% if message.tags == 'error' %}
				<div class="alert alert-danger">{{ message|safe }}</div><br/>
				{% else%}
				<div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div><br/>
				{% endif %}
			{% endfor %}
		{% endif %}

		<div class="row">
				<div class="col-12">
		<div class="card">
				<div class="card-header">
					<h3 class="card-title">Filter</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body">
					<form role="form" method="POST" id="filter_item_form">
					{% csrf_token %}
					<div class="row">
						<div class="col-sm-4">
							<!-- select -->
							<div class="form-group">
								<label>Search</label>
								<input type="text" name="search" id="search" class="form-control" placeholder="Search by SKU ID and Name" value="{% if sales_Post.search%}{{sales_Post.search}}{% endif %}">
							</div>
						</div>

						<div class="col-sm-4">
							<!-- select -->
							<div class="form-group">
								<label>From Date</label>
								<input type="text" name="from_date" id="id_from_date" class="form-control" placeholder="From Date" value="{% if sales_Post.from_date %}{{sales_Post.from_date}}{% endif %}">
							</div>
						</div>

						<div class="col-sm-4">
							<!-- select -->
							<div class="form-group">
								<label>To Date</label>
								<input type="text" name="to_date" id="id_to_date" class="form-control" placeholder="To Date" value="{% if sales_Post.to_date %}{{sales_Post.to_date}}{% endif %}">
							</div>
						</div>


					</div>

					<div class="row">
						
						<div class="col-sm-4">
							<!-- select -->
							<div class="form-group">
								<label>Category</label>
								<select class="custom-select" name="category" id="id_category">
								<option value="">-- Select Category --</option>
								{% for cat in categories%}
									<option value="{{cat.id}}" {% if sales_Post.category|slugify == cat.id|slugify %} selected {% endif %}>{{cat.name}}</option>
								{% endfor %}
								
								</select>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="form-group">
								<label>Sub Category</label>
								<select class="custom-select" name="subcategory" id="id_subcategory">
								<option value="">-- Select Sub Category --</option>
								{% for sub in subcategories %}
									<option value="{{sub.id}}" {% if sales_Post.subcategory|slugify == sub.id|slugify %} selected {% endif %}>{{sub.name}}</option>
								{% endfor %}
								</select>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="form-group" style="margin-top:30px;">
								<button type="button" class="btn btn-info" onclick="ItemFormSeach('search');">Search</button>
								<button type="button" class="btn btn-default" onclick="ItemFormSeach('clear');">Clear</button>
								<input type="hidden" name="search_action" id="search_action" value="search">
							</div>
						</div>

					</div>
				</form>
				</div>
				<!-- /.card-body -->
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Sales Data</h3> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<div class="btn-group" id="action_btn" style="display:none">
							<button type="button" class="btn btn-default">Action</button>
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							</button>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item"  href="javascript:ActionForm('delete')">Delete Selected Items</a></li>
							</ul>
						</div>
						<div class="card-tools">
							 <a href="{% url 'sales_new' %}" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp Add New</a>
							 <a href="{% url 'sales_import_upload' %}" class="btn btn-primary"><i class="fas fa-upload"></i>&nbsp Import Sales Data</a>
						</div>
					</div>
					<!-- /.card-header -->
					{% if object_list %}
					<div class="card-body table-responsive">
						<form method="POST" id="form_list" action="{% url 'change_sales_status' %}">
							{% csrf_token %}
							<table id="sales_list" class="table table-bordered table-striped">
								<thead>
								<tr class="bg-primary">
									<th class="text-center"><input type="checkbox" name="chk_all" id="chk_all" value="all"></th>
									<th class="text-center">
										{% if order_by == 'sku' %}
											{% if direction == 'asc' %}
												<a href="?order_by=sku&direction=desc" style="color:aliceblue">SKU ID &nbsp;&nbsp;<i class='fas fa-arrow-up'></i></a>
											{% else %}
												<a href="?order_by=sku&direction=asc" style="color:aliceblue">SKU ID &nbsp;&nbsp;<i class='fas fa-arrow-down'></i></a>
											{% endif %}
										{% else %}
											<a href="?order_by=sku&direction=asc" style="color:aliceblue">SKU ID</a>
										{% endif %}
									</th>
									<th class="text-center">
										{% if order_by == 'name' %}
											{% if direction == 'asc' %}
												<a href="?order_by=name&direction=desc" style="color:aliceblue">SKU Name &nbsp;&nbsp;<i class='fas fa-arrow-up'></i></a>
											{% else %}
												<a href="?order_by=name&direction=asc" style="color:aliceblue">SKU Name &nbsp;&nbsp;<i class='fas fa-arrow-down'></i></a>
											{% endif %}
										{% else %}
											<a href="?order_by=name&direction=asc" style="color:aliceblue">SKU Name</a>
										{% endif %}
									</th>
									<th class="text-center">
										{% if order_by == 'quantity' %}
											{% if direction == 'asc' %}
												<a href="?order_by=quantity&direction=desc" style="color:aliceblue">Quantity &nbsp;&nbsp;<i class='fas fa-arrow-up'></i></a>
											{% else %}
												<a href="?order_by=quantity&direction=asc" style="color:aliceblue">Quantity &nbsp;&nbsp;<i class='fas fa-arrow-down'></i></a>
											{% endif %}
										{% else %}
											<a href="?order_by=quantity&direction=asc" style="color:aliceblue">Quantity</a>
										{% endif %}
									</th>
									<th class="text-center">
										{% if order_by == 'revenue' %}
											{% if direction == 'asc' %}
												<a href="?order_by=revenue&direction=desc" style="color:aliceblue">Revenue &nbsp;&nbsp;<i class='fas fa-arrow-up'></i></a>
											{% else %}
												<a href="?order_by=revenue&direction=asc" style="color:aliceblue">Revenue &nbsp;&nbsp;<i class='fas fa-arrow-down'></i></a>
											{% endif %}
										{% else %}
											<a href="?order_by=revenue&direction=asc" style="color:aliceblue">Revenue</a>
										{% endif %}
									</th>
									<th class="text-center">
										{% if order_by == 'updatedOn' %}
											{% if direction == 'asc' %}
												<a href="?order_by=updatedOn&direction=desc" style="color:aliceblue">Updated On &nbsp;&nbsp;<i class='fas fa-arrow-up'></i></a>
											{% else %}
												<a href="?order_by=updatedOn&direction=asc" style="color:aliceblue">Updated On &nbsp;&nbsp;<i class='fas fa-arrow-down'></i></a>
											{% endif %}
										{% else %}
											<a href="?order_by=updatedOn&direction=asc" style="color:aliceblue">Updated On</a>
										{% endif %}
									</th>
									<th class="text-center">Action</th>
								</tr>
								</thead>
								<tbody>
									{% for record in object_list %}
										<tr>
											<td class="text-center">
												<input type="checkbox" id="id_{{record.id}}" name="records" class="chk" value="{{record.id}}">
											</td>
											<td class="text-center">{{record.item.sku}}</td>
											<td class="text-center">{{record.item.name}}</td>
											<td class="text-center">{{record.quantity}}</td>
											<td class="text-center">{{record.revenue}}</td>
											<td class="text-center">{{record.updatedOn}}</td>
											<td class="text-center">
												<a href="{% url 'sales_view' record.id %}" class="btn btn-sm btn-secondary" title="View"><i class="fas fa-eye"></i> View</a>
												<a href="{% url 'sales_edit' record.id %}" class="btn btn-sm btn-info" title="Edit"><i class="fas fa-pencil-alt"></i> Edit</a>
												<a href="{% url 'sales_delete' record.id %}" class="btn btn-sm btn-danger" title="Delete"><i class="fas fa-trash"></i> Delete</a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							<input type="hidden" name="action_on" id="action_on">
						</form>
					</div>
					<div class="card-footer clearfix">
						{% if object_list.has_other_pages %}
						<ul class="pagination pagination-sm m-0 float-right">
							{% if object_list.has_previous %}
							<li class="page-item"><a class="page-link" href="?order_by={{order_by}}&direction={{direction}}&page={{ object_list.previous_page_number }}">&laquo;</a></li>
							{% else %}
							<li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
							{% endif %}
							{% for i in object_list.paginator.page_range %}
							{% if object_list.number == i %}
								<li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
							{% else %}
								<li class="page-item"><a class="page-link" href="?order_by={{order_by}}&direction={{direction}}&page={{ i }}">{{ i }}</a></li>
							{% endif %}
							{% endfor %}
							{% if object_list.has_next %}
							<li class="page-item"><a class="page-link" href="?order_by={{order_by}}&direction={{direction}}&page={{ object_list.next_page_number }}">&raquo;</a></li>
							{% else %}
							<li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
							{% endif %}
						</ul>
						{% endif %}
					</div>
					<!-- /.card-body -->
					{% else %}
						<div class="card-body">
							<div class="alert alert-danger">Item(s) data not found</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock  %}
