{% extends "base.html" %}

{% block title %}Sales Data Import{% endblock %}

{% block pagetitle %}Sales Data Import{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'sales_list' %}">Sales Data Listing</a></li>
    <li class="breadcrumb-item active">Sales Data Import</li>
{% endblock %}


{% load static %}

{% block content %}

<section class="content">

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger">{{ message|safe }}</div><br/>
                {% else%}
                <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div><br/>
                {% endif %}
            {% endfor %}
        {% endif %}
    
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Upload File</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <label class="form-label">File Requirements</label>
                                        <ul>
                                        <li>The first row must have the field names(SKU_ID, SKU_NAME, QUANTITY, UPDATED_ON) for each column.</li>
                                        <li>The maximum file size is 100kb.</li>
                                        </ul>
                                        <div class="custom-file">
                                            <input type="file" class="form-control" name="import">
                                            <small style="color: grey">Required File Type : XLS or XLSX</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <input type="submit" value="Upload" class="btn btn-info" name="save">
                            <a href="{% url 'sales_list' %}" class="btn btn-default">Cancel</a>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock  %}
